---
import LinkedInIcon from './LinkedInIcon.astro';
import TwitchIcon from './TwitchIcon.astro';
import TwitterIcon from './TwitterIcon.astro';
const icon = 'ᾰ';

const about = {
	name: { first: 'Allan', last: 'Lalangan' },
	title: 'Front End Engineer',
	skills: ['HTML', 'CSS', 'JavaScript'],
};
---

<section class='mx-4 flex min-h-screen flex-col justify-center'>
	<figure class='mb-4 flex items-baseline'>
		<a
			href='/'
			class='w-fit font-times text-5xl font-bold italic text-yellow-200'
		>
			{icon}
		</a>
		<span class='flex items-center font-times text-yellow-200'>©</span>
	</figure>
	<article class='flex flex-col items-baseline md:mx-12 md:flex-row'>
		<h2 class='mb-12 flex items-baseline'>
			<span
				class='h-12 w-12 border-b-2 border-r-2 border-yellow-200 font-heading text-4xl font-light -tracking-widest'
			>
				0.
			</span>
		</h2>
		<p class='text-xl sm:mx-4 lg:w-2/3 xl:w-1/2'>
			I'm Allan. A Software Developer with a background in Art & Design. I build
			full-stack web applications and specialize in JavaScript and front-end
			frameworks. You can catch my weekly coding livestreams on Twitch.
		</p>
	</article>
	<nav
		class='mt-24 flex flex-col-reverse font-heading text-xl sm:mx-4 md:mx-8 md:flex-row md:items-center'
	>
		<ul class='flex flex-col'>
			<li class=''><a href=''>Projects</a></li>
			<li class=''><a href=''>Blog</a></li>
			<li class=''><a href=''>Links</a></li>
		</ul>
		<aside
			class='mb-8 flex justify-evenly border-2 border-yellow-200 sm:w-fit md:mx-12 md:mb-0'
		>
			<a class='flex w-1/3 flex-col items-center py-4 sm:w-32' href=''
				><TwitchIcon /><span>Twitch</span></a
			>

			<a
				class='flex w-1/3 flex-col items-center border-x-2 border-yellow-200 py-4 px-4 sm:w-32'
				href=''><TwitterIcon /><span>Twitter</span></a
			>

			<a class='flex w-1/3 flex-col items-center py-4 sm:w-32' href=''
				><LinkedInIcon /><span>LinkedIn</span></a
			>
		</aside>
	</nav>
</section>
